* {
    color: #ffffff;
    font-family: 'Trebuchet MS','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #121213;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-zoom: 0;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
    touch-action: manipulation;
}

.tile-container {
    width: 465px;
    margin-bottom: 30px;
    touch-action: manipulation;
}

.key-container {
    width: 985px; /*580*/
    display: flex;
    flex-wrap: wrap;
    touch-action: manipulation;
}

    .key-container button {
        width: 90px; /*50*/
        height: 105px; /*65*/
        border-radius: 4px;
        border: none;
        background-color: #818384;
        margin: 4px;
        font-size: 21px;
        touch-action: manipulation;
    }

        .key-container button:nth-child(11) {
            margin-left: 55px; /*30*/
            touch-action: manipulation;
        }

        .key-container button:nth-child(20),
        .key-container button:nth-child(28) {
            width: 140px; /*75*/
            touch-action: manipulation;
        }

.tile-container div {
    display: flex;
    touch-action: manipulation;
}

.tile-container .tile {
    width: 90px;
    height: 100px;
    border: 2px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 60px;
    font-family: 'Lucida Sans';
    touch-action: manipulation;
}

.message-container {
    height: 30px;
    touch-action: manipulation;
}

    .message-container p {
        background-color: #818384;
        border-radius: 25px;
        padding: 30px;
        margin: 0;
        position: relative;
        z-index: 1000;
        touch-action: manipulation;
    }

    .tile.flip {
        animation: 0.3s linear flipping;
    }

    @keyframes flipping {
        0% {
            transform: rotateY(0deg);
        }
        50% {
            transform: rotateY(90deg);
        }
        100% {
            transform: rotateY(0deg);
        }
    }

    .grey-overlay {
        background-color: #3a3a3c !important;
        border:none !important;
    }

    .yellow-overlay {
        background-color: #b59f3a !important;
        border: none !important;
    }

    .green-overlay {
        background-color: #538d4e !important;
        border: none !important;
    }

* {
    touch-action: manipulation;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

//Counter

.departure {
    font-size: 1.5em;
}

#countdown {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 520px;
    height: 200px;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
    padding: 14px;
    border-radius: 5px;
}

.departure #countdown .span {
    display: inline-block;
}

.departure .hours, .departure .minutes, .departure .seconds {
    color: #fff;
    background: #121213;
    background: linear-gradient(to top, #3a3a3c 0%, #3a3a3c 50%, #444 50%, #444 100%);
    border-radius: 6px;
    padding: 10px;
    font-family: arial;
    font-size: 110px;
}

.departure .hSep, .departure .mSep {
    font-size: 110px;
    padding: 5px;
}